<!-- start banner Area -->
<section class="banner-area" id="home" style="margin-top: 10%;" >
  <div class="container" >
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-7">

        <h1 style="font-size:80px;color:white;">
          Start your day with <br>
          a black Coffee
        </h1>

  <button type="button" class="rounded-pill" style="border:none;border-radius: 15px;" ><a style="color:black;" routerLink="/coffees">Buy Now</a></button>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
